<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha</title>
</head>
<body>
    <h2>Redefinição de Senha</h2>
    <p>Por favor, insira o seu endereço de e-mail registrado abaixo. Um link para redefinição de senha será enviado para este endereço.</p>
    <form method="post">
        {% csrf_token %}
        <label for="email">Endereço de E-mail:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
